.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 220px;
    padding: 2px 16px;
    margin:auto;
    height: auto;
    display: inline-block;
    border: 1px solid black;
    margin-left: 5.55%;
    margin-top: 1.7%;
    border-radius: 20px;
    background-color: white;
  }

.piccoloDiv {
  margin: auto;
  width: 87.5%;
}

  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 220px;
    padding: 2px 16px;
    margin:auto;
    height: auto;
    display: inline-block;
    border: 1px solid black;
    margin-left: 4%;
    margin-top: 1.7%;
    border-radius: 20px;
    background-color: white;
  }
  
  .card:hover, .card2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .meta {
    font-size: 90%;
    margin-top: 5px;
  }

.titolo{
    margin-top: 0px;
    font-size: large;
    text-align: center;
}

.descrizione{
    text-align: justify;
    font-size: 80%;
    height: 205px;
}

.img {
    text-align: center;
}

.imgvera {
    text-align: center;
    width: 220px;
    height: 100px;
}

.like {
    text-align: right;
    margin-bottom: 5px;
}

.likeButton {
  width: 25px;
  height: 25px;
}